/*
body {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}
*/


body {color: #3b4144;}


h1{
    text-align:center;
    color: #636b6f;
}
h2{
    color: #3490dc;
}

/* 
.col-xs-0, .col-sm-0, .col-md-0, .col-lg-0 {
    width: 0;
    height: 0;
    display: none !important;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    display: block !important; 
} */

.pointer {
    cursor: pointer;
}

.alert-success {
    /* background-color: #3490dc; */
    background-color: inherit;
    border-color: #3490dc;
    color: #3490dc;
}



/* видимый мерцающий индикатор в поле ввода */
input,
textarea,
[contenteditable] {
  caret-color: #3490dc;
}



/* toTop */
#toTop{
    position:fixed;
    bottom:1em;
    right:1em;
    cursor:pointer;
    display:none;
    /* color:#09f; */
    color: #3490dc;
    font-size:3em;
    /* opacity: .7; */
}
/* /toTop */





.grey {color: #636b6f;}
.grey .grey, .greygrey{color: #8e9aa0;}

.bg_white {
    background-color: #fff;
}

.center{text-align:center;}
.ta_l{text-align: left;}
.ta_r{text-align: right !important;}
.ta_c{text-align: center;}
.ta_j{text-align: justify;}


.center.no_fl .btn, .center.no_fl form.del_btn {float: none;}

.nowrap {white-space: nowrap;}


.max_w30px {max-width: 30px;}

a, button {outline: none;} /* Убираем границу вокруг ссылок  */
 
  



.height2em {height: 2em;}
.relative {position: relative;}





/* .row {
    margin:0 0 1em 0;
} */
.row.center {
    justify-content: center;
}







a.btn h5 {
    margin-bottom: 0;
}

.padding_left_0 {
    padding-left: 0;
}

h1.hide, h1.hide a, h5.hide a {
    color:rgb(117, 16, 16);
}
.red {color:rgb(117, 16, 16);}








/* /app.blade */
nav.navbar.navbar-dark {
    background-color: #3490dc;
}
a.navbar-brand.grey, .navbar-dark .navbar-nav .nav-link, .navbar-nav li.nav-item {
    /* color: rgba(0,0,0,.7); */
    color: hsla(0,0%,100%,.75);
    font-size: .9rem;
}
a.navbar-brand.grey:hover, .navbar-dark .navbar-nav .nav-link:hover, .navbar-nav li.nav-item:hover {
    /* color: rgba(0,0,0,.7); */
    color: hsla(0,0%,100%,.95);
    font-size: .9rem;
}
/* /app.blade */





/* main menu */
.main_menu {
    text-align: center;
    margin: 1em 0;
}
.main_menu > a {
    color: #636b6f;
    padding: 0 8px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}


/* .dropdown-menu.dropdown-menu-right.show {
    background-color:#3490dc;
    background: linear-gradient(to right, #3490dc, #09f);
} */
/* /main menu */








/* products */

.card .row.product_buttons .col-sm-4{
    padding: 2%;
}

.product_card_bm {
    margin-bottom: 2em;
}
.product_card_bm .card{
    padding: 1em;
    min-height: 5em;
}
.product_card_bm .card h5{
    text-align:center;
}
.product_card_bm .card h5 a:hover {
    color: #3490dc;
    text-decoration: none;
}

.pagination {
    padding: 1em;
}

.row.product_buttons a.btn,
.row.product_buttons form button
{
    width: 100%;
}

.product_card_h2 {
    font-size: 1.125rem;
    min-height: 3em;
    text-align: center;
}
.product_card_h2 a{
    text-decoration: none;
}
/* /products */








/* product */
.card img.img_lr {
    width:auto;
    max-height:280px;
}

/* .product_buttons .col-sm-4{
    padding-left: 0;
} */
.product_buttons a.btn,
.product_buttons button.btn,
.product_buttons form button
{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: .25em 0;
}

.comment_str {
    padding: .5rem 0 .75rem;
}
.comment_header {
    position: relative;
    background-color: #e1e4e8;
    margin: -.75rem -1.25rem 0;
    padding: .75rem 1.25rem;
}
    .comment_header .comment_buttons {
        position: absolute;
        right: 0;
        top: 0;
        margin: .26em 0;
    }
    .comment_header .comment_buttons button,
    .comment_header .comment_buttons form,
    .comment_header .comment_buttons .comment_num
    {
        float: left;
        margin: 0 .25em;
        /* background-color: #fff; */
    }
    .comment_header .comment_buttons form {
        margin-left: 0;
        margin-right: 0;
    }
    .comment_header .comment_buttons .comment_num {
        padding: .375rem 0rem;
        font-size: .9rem;
        line-height: 1.6;
    }
    /*.comment_header */.comment_buttons button{
        background-color: #fff;
    }
        .comment_header .comment_buttons button.btn-outline-info:hover {
            color: #212529;
            background-color: #6cb2eb;
            border-color: #6cb2eb;
        }
        .comment_header .comment_buttons button.btn-outline-danger:hover {
            color: #fff;
            background-color: #e3342f;
            border-color: #e3342f;
        }
    form.collapse textarea {
        margin-bottom: .25rem;
    }

/* .wrap_b_image, .shipping { */
.wrap_b_image {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:1em;
}


.shipping {
    font-size: .7rem;
    color:#636b6f;
}
.shipping p {
    margin-bottom: .5rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #ccc;
    border-radius: 50%;
    border: 1px solid #ccc;
}




#myTabContent {
    margin: 1em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
table.param{width:100%;}
table.param tr td{border:1px solid #ddd;font-size:16px;}
table.param tr{background-color:#fff;}
table.param tr:nth-child(odd){background-color:#f7f7f7;}
table.param tr td{padding:5px;text-align:center;}
table.param tr.center td{text-align:center;}
table.param tr th{padding:10px;background-color:#f7f7f7;color:#09c;font-style:oblique;font-weight:400;}
/* /product */









.filter_block {
    /* border-left: 2px solid #3490dc; */
    /* padding-left: .5em; */
    margin-bottom: 2em;
}

.filter_block .filter_block_header{
    font-size: 1em;
    font-weight: 400;
    color: #3490dc;
    /* line-height: 50%; */
}




/* Checkbox */
.boxes {
    margin: auto;
    padding: 10px 0;
    /* background: #484848; */
}

/* right_stylized_checkbox */
.right_stylized_checkbox input[type="checkbox"] { display: none; }
.right_stylized_checkbox input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 5px;
    padding-right: 35px;
    /* margin-bottom: 20px; */
    margin:5px;
    /* font: 14px/20px 'Open Sans', Arial, sans-serif; */
    color: #3b4144;;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.right_stylized_checkbox input[type="checkbox"] + label:last-child { margin-bottom: 0; }
.right_stylized_checkbox input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #3490dc;
    position: absolute;
    right: 0;
    top: 0;
    opacity: .6;
    /* -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s; */
    -webkit-transition: all .2s, border-color .08s;
    transition: all .2s, border-color .08s;
}
.right_stylized_checkbox input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    right: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.right_stylized_checkbox input[type="checkbox"] { display: none; }
/* /right_stylized_checkbox */


/* left_stylized_checkbox */
.left_stylized_checkbox input[type="checkbox"] { display: none; }
.left_stylized_checkbox input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 20px; */
    margin:5px;
    /* font: 14px/20px 'Open Sans', Arial, sans-serif; */
    color: #3b4144;;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.left_stylized_checkbox input[type="checkbox"] + label:last-child { margin-bottom: 0; }
.left_stylized_checkbox input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #3490dc;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    /* -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s; */
    -webkit-transition: all .2s, border-color .08s;
    transition: all .2s, border-color .08s;
}
.left_stylized_checkbox input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.left_stylized_checkbox input[type="checkbox"] { display: none; }
/* left_stylized_checkbox */


/* single_stylized_checkbox */
.single_stylized_checkbox input[type="checkbox"] { display: none; }
.single_stylized_checkbox input[type="checkbox"] + label {
    display: block;
    position: relative;
    margin:0px;
    color: #3b4144;;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 25px;
    width: 25px;
}
.single_stylized_checkbox input[type="checkbox"] + label:last-child { margin-bottom: 0; }
.single_stylized_checkbox input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #3490dc;
    position: absolute;
    left: 3px;
    top: 3px;
    opacity: 1;
    -webkit-transition: all .2s, border-color .08s;
    transition: all .2s, border-color .08s;
}
.single_stylized_checkbox input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -2px;
    left: 8px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.single_stylized_checkbox input[type="checkbox"] { display: none; }
/* single_stylized_checkbox */






/* b_image https://htmler.ru/2016/06/07/css-height-dynamic-width/*/
.b_image{
    width:100%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
    display: inline-block;
    position: relative;
}
    .b_image .dummy {
        margin-top: 100%; /* соотношение сторон*/
    }
    .b_image .element {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
/* b_image */

.dummy.perc50 {margin-top: 50%;}
.cart_image.b_image {
    width: 2em;
    height: 2em;
}


/* footer */
.footer {
    margin: 1em 0;
    padding: 1em 0;
    color: #e1e4e8;
    border-top: 1px solid #e1e4e8 !important;
    text-align: center;
}
    .footer .footer-octicon {
        color: #c6cbd1;
    }
        .footer .footer-octicon .octicon {
            display: inline-block;
            fill: currentColor;
        }
/* /footer */







/* settings */ 
select.on_select {
    color: #09f;
}
/* /settings */ 







/* users */ 
table.blue_table {margin-bottom: 3em;}

table.blue_table tr th.actions3 {
    min-width: calc( 51px * 3 + 2px );
    width: calc( 51px * 3 + 2px );
}
table.blue_table tr th.actions2 {
    min-width: calc( 51px * 2 + 3px );
    width: calc( 51px * 2 + 3px );
}
table.blue_table tr th.actions1 {
    min-width: calc( 51px * 1 + 1px );
    width: calc( 51px * 1 + 1px );
}
/* table.blue_table a.btn, table.blue_table td > button.btn, table.blue_table form.del_btn{
    float: left;
    margin: .2em;
} */

table.blue_table{width:100%;}
table.blue_table tr, table.blue_table tr th, table.blue_table tr td{border:1px solid #ddd;font-size:16px;}
table.blue_table tr{background-color:#fff;}
table.blue_table tr:nth-child(odd){background-color:#f7f7f7;}
table.blue_table tr td{padding:5px;text-align:center;}
table.blue_table tr.center td{text-align:center;}
table.blue_table tr th{padding:10px;background-color:#f7f7f7;color:#3490dc;font-style:oblique;font-weight:400;text-align:center;}
table.blue_table tr td.ta_l{text-align: left;}
table.blue_table tr td.row {
    border: 0px solid #ddd;
}
/* /users */








/* fw-background */
/* html, body, #app {
    min-height: 100vh;
}
.pb-4, .py-4 {
    min-height: calc(100vh - 221px);
} */

div.fw-background {
    position: absolute;
    top: -723px;
    left: 0;
    width: 100%;
    height: 800px;
    background: #3490dc;
    background: linear-gradient(to right, #3490dc, #09f);
    transform: skew(0, -1.5deg);
    transform-origin: bottom left;
    /* box-shadow: inset 0 -3px 10px rgba(0,0,0,0.1); */

    z-index: -1;
}


div.fw-background a.logo img {
    position: absolute;
    left: 10px;
    top: 710px;
    width: 100px;
    height: 100px;
    /* margin-top: 800px; */
}
.logo_name{
    /* color: hsla(0,0%,100%,.75); */
    color: #fff;
    font-size: 20px
}
nav.navbar.navbar-dark {background-color: hsla(0,0%,100%,0);}
/* nav.navbar.navbar-dark {
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(to right, rgb(0, 153, 204), rgb(0, 153, 255));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
} */


/* #navbarSupportedContent.navbar-collapse.collapse.show{
    border-radius: 5px;
    background-color:#3490dc;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background: linear-gradient(to right, #3490dc, #09f);
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;

    padding: 0 5em;
    margin: 0 -4em;
} */


.main_menu {margin: 0;}
.main_menu > a {color: hsla(0,0%,100%,.75);}
.main_menu > a:hover {color: hsla(0,0%,100%,.95);}
nav.navbar.navbar-dark a.navbar-brand {
    margin-left: 120px;
    /* position: relative;
    top: -15px; */
}
.main_menu {
    position: relative;
}
.navbar .main_menu {
    margin-left: 120px;
    top: -5px;
    /* transform: skew(0, -.75deg);
    transform-origin: bottom left;
    font-style: oblique; */
}
.footer .main_menu {
    top: 15px;
    transform: skew(0, -1.5deg);
    transform-origin: bottom left;
    font-style: oblique;
}
.ml-auto, .mx-auto {
    position: relative;
    top: -5px;
}
.footer .container .copy {
    text-align: left;
    color: #77818d;
    padding: 0 20px;
    position: relative;
    top: -40px;
    transform: skew(0, -1.5deg);
    transform-origin: top right;
    font-style: oblique;
}



div.skew {
    background: #363d46;
    height: 50px;
    transform: skew(0, -1.5deg);
    transform-origin: top right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: -1;
}

div.skew-bg {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #363d46;

    z-index: -1;
    height: 50px;
    /* height: 5em;
    padding-top: 3em;
    color: #77818d; */
}
.footer {
    border-top: 0px solid #e1e4e8 !important;
    margin-bottom: 0;
    padding-bottom: 0;
}
/* .footer .container {
    text-align: right;
    justify-content: right;
    margin-top: 35px;
} */
.footer .container .row{
    text-align: right;
    justify-content: right;
    justify-content: end;
    justify-content: flex-end;
    margin-top: 0px;
}
.footer .footer-octicon {color: #c6cbd1;}
.footer a.footer-octicon {
    color: hsla(0,0%,100%,.75);
    top: -7px;
    position: relative;
}
.footer a.footer-octicon:hover {color: hsla(0,0%,100%,.95);}
/* fw-background */




/* .comment_order{font-size: .5em;} */


.wrap_panda {position:relative; /*width: 300px; */height: 400px;}
.wrap_panda.h300 {position:relative; /*width: 300px; */height: 300px;}
.panda {position: absolute; right: calc( 50% - 300px ); bottom: -55px; z-index: -1;}



ul.navbar-nav {
    margin-bottom: 1em;
}
/* ul#mainMenu {
    margin-top: 3em;
} */
/* .aside {
    margin-top: 3em;
} */
ul#mainMenu ul {
    padding-left: 10px;
    list-style: none;
}



.carousel-indicators li.active{background-color: #3490dc;}
.carousel-indicators li{background-color: #ccc;}


/* .aside .nav-link, .aside p{
    padding: .1rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.aside .formfilters {margin: 0 0 1rem;}
.aside .formfilters p{
    padding: .1rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separator {
    margin: .5em .2em 1em;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.denial_responsibility {
    font-size: .7em;
}

.setting_group {
    margin-top: 2em;
}



/* breadcrumbs */
.container .breadcrumb {
    background-color: inherit;
    padding: .05rem;
    margin-bottom: 0rem;
}
/* /breadcrumbs */




/* searchform */
button:focus {
    outline: none;
}

.searchform_breadcrumbs .col {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2em;
}

.searchform * {box-sizing: border-box;}
form.searchform  {
    position: relative;
    /* width: 300px; */
    width: 100%;
    margin: 0 auto;
}
.searchform input {
    width: 100%;
    height: 28px;
    padding-left: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
    background: #fff;
    color: #6c757d;
}
.searchform button {
    position: absolute; 
    top: 0;
    right: 0px;
    width: 28px;
    height: 28px;
    border: none;
    background: #aaa;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
.searchform input:focus {
    border: 1px solid #09f;
}
.searchform input:focus + button {
    background: #09f;
}
/* .searchform button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
} */
.searchform button i {
    color: #fff;
}
/* searchform */






/*======================================================================================================*/
/* admin */

/* во избежания схлопывания меню при отключенном показе логина и регистрации */
.navbar-nav.ml-auto {
    min-height: 40px;
}

.submenuitem {
    padding-left: .5em;
}

.overflow_x_auto{
    overflow-x: auto;
}

/* .aside h4.grey {
    margin-top: 1em;
    margin-bottom: .2em;
} */

/* li.complete, li.incomplete {
    
} */
li.incomplete.active {
    color:#3490dc;
}
li.complete {
    color: #aaa;
    text-decoration: line-through;
}



ol.numlist {
    list-style: none; /* убираем стандартную нумерацию */
    counter-reset: li; /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
}
    ol.numlist li:before {
        counter-increment: li; /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
        content: counters(li,".") ". "; /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
    }



.modal-dialog {
    margin: 5rem auto;
}



.card-text.description {
    font-size: 1.2rem;
}

h5.grey {
    margin-bottom: 0;
}

.admin_menu_block {
    margin-bottom: .5rem;
}
.admin_menu_block h4.grey {
    margin-bottom: 0 !important;
}



.priority__i_u { color: #d80c02; }
.priority__inu { color: #d82802; }
.priority_ni_u { color: #a85f01; }
.priority_ninu { color: #888888; }


.status_open        { color: #0a5831; }
.status_in_work     { color: #3490dc; }
.status_done        { color: #43553c; }
.status_prorogue    { color: #554741; }
.status_reopened    { color: #401400; }
.status_closed      { color: #888888; }



    /* blue_table */
    table.blue_table .verticalTableHeader {
        writing-mode: vertical-rl;
        letter-spacing: 1px;
        padding: .5em auto;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    
        background-color: transparent;
        position: relative;
        /* left: -.5em; */
    }
    table.blue_table tr.main_category {
        /* color: #3490dc; */
        font-weight: 400;
    }
    table.blue_table tr.gray {
        color: #64819e;
    }
    /* blue_table */

    table.blue_table tr td.subcategory {
        padding-left: 2em;
    }

/* admin */
/*======================================================================================================*/



.flex-center.position-ref.full-height .code {
    color: #3490dc;
}