/*
body {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
}
*/


body {color: #3b4144;}


h1{
    text-align:center;
    color: #636b6f;
}
h2{
    color: #3490dc;
}

/*
.col-xs-0, .col-sm-0, .col-md-0, .col-lg-0 {
    width: 0;
    height: 0;
    display: none !important;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    display: block !important;
} */

.pointer {
    cursor: pointer;
}

.alert-success {
    /* background-color: #3490dc; */
    background-color: inherit;
    border-color: #3490dc;
    color: #3490dc;
}


.invisible {
    display: none;
}

/* видимый мерцающий индикатор в поле ввода */
input,
textarea,
[contenteditable] {
  caret-color: #3490dc;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}


.w30{width: 30px;}
.w60{width: 60px;}


/* toTop */
#toTop{
    position:fixed;
    bottom:1em;
    right:1em;
    cursor:pointer;
    display:none;
    /* color:#09f; */
    color: #3490dc;
    font-size:3em;
    /* opacity: .7; */
    z-index: 2;
}
/* /toTop */





/* ripple */
.ripple {
    animation: 2s cubic-bezier(0, 0, 0.2, 1) 0s normal forwards 1 running ripple;
    background-color: rgba(255, 255, 255, 0.4);
}
@keyframes ripple {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    80% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}
button.ripplebutton {
    background-color: dodgerblue;
    color: white;
    padding: 10px 20px;
    border:0;
    font-size: 14px;
    cursor: pointer;
    margin: 20px;
}
/* /ripple */




.grey {color: #636b6f;}
.grey .grey, .greygrey{color: #8e9aa0;}
.blue {color: #3490dc;}

.row form input::placeholder, .row form textarea::placeholder {
    color: #a2b0b8;
    font-style: italic;
}

.bg_white {
    background-color: #fff;
}

.center{text-align:center;}
.ta_l{text-align: left;}
.ta_r{text-align: right !important;}
.ta_c{text-align: center;}
.ta_j{text-align: justify;}


.center.no_fl .btn, .center.no_fl form.del_btn {float: none;}

.nowrap {white-space: nowrap;}


.max_w30px {max-width: 30px;}

a, button {outline: none;} /* Убираем границу вокруг ссылок  */



.nowrap {
    white-space: nowrap;
}

.height2em {height: 2em;}
.relative {position: relative;}





/* .row {
    margin:0 0 1em 0;
} */
.row.center {
    justify-content: center;
}







a.btn h5 {
    margin-bottom: 0;
}

.padding_left_0 {
    padding-left: 0;
}

h1.hide, h1.hide a, h5.hide a {
    color:rgb(117, 16, 16);
}
.red {color:rgb(117, 16, 16);}




@media (max-width: 767.98px) {
    nav.navbar.navbar-dark {
        background: linear-gradient(to right, #3490dc, #09f);
        /* background: #882200; */
    }

}



/* /app.blade */

a.navbar-brand.grey, .navbar-dark .navbar-nav .nav-link, .navbar-nav li.nav-item {
    /* color: rgba(0,0,0,.7); */
    color: hsla(0,0%,100%,.75);
    font-size: .9rem;
}
a.navbar-brand.grey:hover, .navbar-dark .navbar-nav .nav-link:hover, .navbar-nav li.nav-item:hover {
    /* color: rgba(0,0,0,.7); */
    color: hsla(0,0%,100%,.95);
    font-size: .9rem;
}
/* /app.blade */





/* main menu */
.main_menu {
    text-align: center;
    margin: 1em 0;
}
.main_menu > a {
    color: #636b6f;
    padding: 0 8px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}


/* .dropdown-menu.dropdown-menu-right.show {
    background-color:#3490dc;
    background: linear-gradient(to right, #3490dc, #09f);
} */
/* /main menu */




#myCarousel {
    padding-top: 1em;
}



/* products */

.card .row.product_buttons .col-sm-4{
    padding: 2%;
}

.product_card_bm {
    margin-bottom: 2em;
}
.product_card_bm .card{
    padding: 1em;
    min-height: 5em;
}
.product_card_bm .card h5{
    text-align:center;
}
.product_card_bm .card h5 a:hover {
    color: #3490dc;
    text-decoration: none;
}

.pagination {
    padding: 1em;
}

.row.product_buttons a.btn,
.row.product_buttons form button
{
    width: 100%;
}

.product_card_h2 {
    font-size: 1.125rem;
    min-height: 3em;
    text-align: center;
}
.product_card_h2 a{
    text-decoration: none;
}
/* /products */








/* product */
.card img.img_lr {
    width:auto;
    max-height:280px;
}

/* .product_buttons .col-sm-4{
    padding-left: 0;
} */
.product_buttons a.btn,
.product_buttons button.btn,
.product_buttons form button
{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: .25em 0;
}

.comment_str {
    padding: .5rem 0 .75rem;
}
.commentator_name {
    font-weight: bold;
}
.comment_header {
    position: relative;
    background-color: #e1e4e8;
    margin: -.75rem -1.25rem 0;
    padding: .75rem 1.25rem;
}
    .comment_header .comment_buttons {
        position: absolute;
        right: 0;
        top: 0;
        margin: .26em 0;
    }
    .comment_header .comment_buttons button,
    .comment_header .comment_buttons form,
    .comment_header .comment_buttons .comment_num
    {
        float: left;
        margin: 0 .25em;
        /* background-color: #fff; */
    }
    .comment_header .comment_buttons form {
        margin-left: 0;
        margin-right: 0;
    }
    .comment_header .comment_buttons .comment_num {
        padding: .375rem 0rem;
        font-size: .9rem;
        line-height: 1.6;
    }
    /*.comment_header */.comment_buttons button{
        background-color: #fff;
    }
        .comment_header .comment_buttons button.btn-outline-info:hover {
            color: #212529;
            background-color: #6cb2eb;
            border-color: #6cb2eb;
        }
        .comment_header .comment_buttons button.btn-outline-danger:hover {
            color: #fff;
            background-color: #e3342f;
            border-color: #e3342f;
        }
    form.collapse textarea {
        margin-bottom: .25rem;
    }
    .date_comment.gray {text-align: right; color: #596d77;}

/* .wrap_b_image, .shipping { */
.wrap_b_image {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding:1em;
}


.shipping {
    font-size: .7rem;
    color:#636b6f;
}
.shipping p {
    margin-bottom: .5rem;
}




#myTabContent {
    margin: 1em 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
table.param{width:100%;}
table.param tr td{border:1px solid #ddd;font-size:16px;}
table.param tr{background-color:#fff;}
table.param tr:nth-child(odd){background-color:#f7f7f7;}
table.param tr td{padding:5px;text-align:center;}
table.param tr.center td{text-align:center;}
table.param tr th{padding:10px;background-color:#f7f7f7;color:#09c;font-style:oblique;font-weight:400;}
/* /product */









.filter_block {
    /* border-left: 2px solid #3490dc; */
    /* padding-left: .5em; */
    margin-bottom: 2em;
}

.filter_block .filter_block_header{
    font-size: 1em;
    font-weight: 400;
    color: #3490dc;
    /* line-height: 50%; */
}

/* label.filters.main_category {
    font-weight: 400;
} */
.left_stylized_checkbox label.filters.subcategory {
    color: #64819e;
    padding-left: 2em;
}



/* Checkbox */
.boxes {
    margin: auto;
    padding: 10px 0;
    /* background: #484848; */
}

/* right_stylized_checkbox */
.right_stylized_checkbox input[type="checkbox"] { display: none; }
.right_stylized_checkbox input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 5px;
    padding-right: 35px;
    /* margin-bottom: 20px; */
    margin:5px;
    /* font: 14px/20px 'Open Sans', Arial, sans-serif; */
    color: #3b4144;;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.right_stylized_checkbox input[type="checkbox"] + label:last-child { margin-bottom: 0; }
.right_stylized_checkbox input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #3490dc;
    position: absolute;
    right: 0;
    top: 0;
    opacity: .6;
    /* -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s; */
    -webkit-transition: all .2s, border-color .08s;
    transition: all .2s, border-color .08s;
}
.right_stylized_checkbox input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    right: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.right_stylized_checkbox input[type="checkbox"] { display: none; }
/* /right_stylized_checkbox */


/* left_stylized_checkbox */
.left_stylized_checkbox input[type="checkbox"] { display: none; }
.left_stylized_checkbox input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 20px; */
    margin:5px;
    /* font: 14px/20px 'Open Sans', Arial, sans-serif; */
    color: #3b4144;;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.left_stylized_checkbox input[type="checkbox"] + label:last-child { margin-bottom: 0; }
.left_stylized_checkbox input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #3490dc;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    /* -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s; */
    -webkit-transition: all .2s, border-color .08s;
    transition: all .2s, border-color .08s;
}
.left_stylized_checkbox input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.left_stylized_checkbox input[type="checkbox"] { display: none; }
/* left_stylized_checkbox */


/* single_stylized_checkbox */
.single_stylized_checkbox input[type="checkbox"] { display: none; }
.single_stylized_checkbox input[type="checkbox"] + label {
    display: block;
    position: relative;
    margin:0px;
    color: #3b4144;;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 25px;
    width: 25px;
}
.single_stylized_checkbox input[type="checkbox"] + label:last-child { margin-bottom: 0; }
.single_stylized_checkbox input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #3490dc;
    position: absolute;
    left: 3px;
    top: 3px;
    opacity: 1;
    -webkit-transition: all .2s, border-color .08s;
    transition: all .2s, border-color .08s;
}
.single_stylized_checkbox input[type="checkbox"]:checked + label:before {
    width: 10px;
    top: -2px;
    left: 8px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.single_stylized_checkbox input[type="checkbox"] { display: none; }
/* single_stylized_checkbox */


.left_stylized_checkbox input[type="checkbox"].invisible + label.invisible {
    display: none;
}





/* b_image https://htmler.ru/2016/06/07/css-height-dynamic-width/*/
.b_image{
    width:90%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
    display: inline-block;
    position: relative;
    margin: 5%;
}
    .b_image .dummy {
        margin-top: 100%; /* соотношение сторон*/
    }
    .b_image .element {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
/* b_image */

.dummy.perc50 {margin-top: 50%;}
.dummy.perc80 {margin-top: 80%;}
.dummy.perc100 {margin-top: 100%;}
.cart_image.b_image {
    width: 2em;
    height: 2em;
}


/* footer */
.footer {
    margin: 1em 0;
    padding: 1em 0;
    color: #e1e4e8;
    border-top: 1px solid #e1e4e8 !important;
    text-align: center;
}
    .footer .footer-octicon {
        color: #c6cbd1;
    }
        .footer .footer-octicon .octicon {
            display: inline-block;
            fill: currentColor;
        }
/* /footer */







/* settings */
select.on_select {
    color: #09f;
}
/* /settings */







/* users */
.tabs table.param tr th,
.tabs table.param thead tr td,
table.blue_table tr th,
table.blue_table thead tr td
    {padding:10px;background-color:#f7f7f7;color:#09c;font-style:oblique;font-weight:400;}

table.blue_table {margin-bottom: 3em;}

table.blue_table tr th.actions4 {
    min-width: calc( 51px * 4 + 2px );
    width: calc( 51px * 4 + 2px );
}
table.blue_table tr th.actions3 {
    min-width: calc( 51px * 3 + 2px );
    width: calc( 51px * 3 + 2px );
}
table.blue_table tr th.actions2 {
    min-width: calc( 51px * 2 + 3px );
    width: calc( 51px * 2 + 3px );
}
table.blue_table tr th.actions1 {
    min-width: calc( 51px * 1 + 1px );
    width: calc( 51px * 1 + 1px );
}
/* table.blue_table a.btn, table.blue_table td > button.btn, table.blue_table form.del_btn{
    float: left;
    margin: .2em;
} */

table.blue_table{width:100%;}
table.blue_table tr, table.blue_table tr th, table.blue_table tr td{border:1px solid #ddd;font-size:16px;}
table.blue_table tr{background-color:#fff;}
table.blue_table tr:nth-child(odd){background-color:#f7f7f7;}
table.blue_table tr td{padding:5px;text-align:center;}
table.blue_table tr.center td{text-align:center;}
table.blue_table tr th{padding:10px;background-color:#f7f7f7;color:#3490dc;font-style:oblique;font-weight:400;text-align:center;}
table.blue_table tr td.ta_l{text-align: left;}
table.blue_table tr td.row {
    border: 0px solid #ddd;
}

table.blue_table td.description {text-align: left;}

/* /users */








/* fw-background */
/* html, body, #app {
    min-height: 100vh;
}
.pb-4, .py-4 {
    min-height: calc(100vh - 221px);
} */

div.fw-background {
    position: absolute;
    top: -723px;
    left: 0;
    width: 100%;
    height: 800px;
    background: #3490dc;
    background: linear-gradient(to right, #3490dc, #09f);
    transform: skew(0, -1.5deg);
    transform-origin: bottom left;
    /* box-shadow: inset 0 -3px 10px rgba(0,0,0,0.1); */

    z-index: -1;
}


div.fw-background a.logo img {
    position: absolute;
    left: 10px;
    top: 710px;
    width: 100px;
    height: 100px;
    /* margin-top: 800px; */
}
.logo_name{
    /* color: hsla(0,0%,100%,.75); */
    color: #fff;
    font-size: 20px
}
/* nav.navbar.navbar-dark {background-color: hsla(0,0%,100%,0);} */
/* nav.navbar.navbar-dark {
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(to right, rgb(0, 153, 204), rgb(0, 153, 255));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
} */


/* #navbarSupportedContent.navbar-collapse.collapse.show{
    border-radius: 5px;
    background-color:#3490dc;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background: linear-gradient(to right, #3490dc, #09f);
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;

    padding: 0 5em;
    margin: 0 -4em;
} */


.main_menu {margin: 0;}
.main_menu > a {color: hsla(0,0%,100%,.75);}
.main_menu > a:hover {color: hsla(0,0%,100%,.95);}
nav.navbar.navbar-dark a.navbar-brand {
    margin-left: 120px;
    /* position: relative;
    top: -15px; */
}
.main_menu {
    position: relative;
}
.navbar .main_menu {
    margin-left: 60px;
    top: -5px;
    /* transform: skew(0, -.75deg);
    transform-origin: bottom left;
    font-style: oblique; */
}
.footer .main_menu {
    top: 15px;
    transform: skew(0, -1.5deg);
    transform-origin: bottom left;
    font-style: oblique;
}
.ml-auto, .mx-auto {
    position: relative;
    top: -5px;
}
.footer .container .copy {
    text-align: left;
    color: #77818d;
    padding: 0 20px;
    position: relative;
    top: -40px;
    transform: skew(0, -1.5deg);
    transform-origin: top right;
    font-style: oblique;
}



div.skew {
    background: #363d46;
    height: 50px;
    transform: skew(0, -1.5deg);
    transform-origin: top right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: -1;
}

div.skew-bg {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #363d46;

    z-index: -1;
    height: 50px;
    /* height: 5em;
    padding-top: 3em;
    color: #77818d; */
}
.footer {
    border-top: 0px solid #e1e4e8 !important;
    margin-bottom: 0;
    padding-bottom: 0;
}
/* .footer .container {
    text-align: right;
    justify-content: right;
    margin-top: 35px;
} */
.footer .container .row{
    text-align: right;
    justify-content: right;
    justify-content: end;
    justify-content: flex-end;
    margin-top: 0px;
}
.footer .footer-octicon {color: #c6cbd1;}
.footer a.footer-octicon {
    color: hsla(0,0%,100%,.75);
    top: -7px;
    position: relative;
}
.footer a.footer-octicon:hover {color: hsla(0,0%,100%,.95);}
/* fw-background */




/* .comment_order{font-size: .5em;} */


.wrap_panda {position:relative; /*width: 300px; */height: 400px;}
.wrap_panda.h300 {position:relative; /*width: 300px; */height: 300px;}
.panda {position: absolute; right: calc( 50% - 300px ); bottom: -55px; z-index: -1;}



ul.navbar-nav {
    margin-bottom: 1em;
}
/* ul#mainMenu {
    margin-top: 3em;
} */
/* .aside {
    margin-top: 3em;
} */
ul#mainMenu ul {
    padding-left: 10px;
    list-style: none;
}



.carousel-indicators li.active{background-color: #3490dc;}
.carousel-indicators li{background-color: #ccc;}


/* .aside .nav-link, .aside p{
    padding: .1rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.aside .formfilters {margin: 0 0 1rem;}
.aside .formfilters p{
    padding: .1rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separator {
    margin: .5em .2em 1em;
    padding: 0;
    border-bottom: 1px solid #ccc;
}

.denial_responsibility {
    font-size: .7em;
}

.setting_group {
    margin-top: 2em;
}


.aside .navbar-nav li.nav-item a.nav-link{
    padding: 0;
}


/* breadcrumbs */
.container .breadcrumb {
    background-color: inherit;
    padding: .05rem;
    margin-bottom: 0rem;
}
/* /breadcrumbs */




/* searchform */
button:focus {
    outline: none;
}

.searchform_breadcrumbs .col {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 2em;
}

.searchform * {box-sizing: border-box;}
form.searchform  {
    position: relative;
    /* width: 300px; */
    width: 100%;
    margin: 0 auto;
}
.searchform input {
    width: 100%;
    height: 28px;
    padding-left: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
    background: #fff;
    color: #6c757d;
}
.searchform button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 28px;
    height: 28px;
    border: none;
    background: #aaa;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }
.searchform input:focus {
    border: 1px solid #09f;
}
.searchform input:focus + button {
    background: #09f;
}
/* .searchform button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
} */
.searchform button i {
    color: #fff;
}
/* searchform */






/*======================================================================================================*/
/* admin */

/* во избежания схлопывания меню при отключенном показе логина и регистрации */
.navbar-nav.ml-auto {
    min-height: 40px;
}

.submenuitem {
    padding-left: .5em;
}

.overflow_x_auto{
    overflow-x: auto;
}

/* .aside h4.grey {
    margin-top: 1em;
    margin-bottom: .2em;
} */

/* li.complete, li.incomplete {

} */
li.incomplete.active {
    color:#3490dc;
}
li.complete {
    color: #aaa;
    text-decoration: line-through;
}




ol.numlist {
    list-style: none; /* убираем стандартную нумерацию */
    counter-reset: li; /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
    padding-left: 1em;
}
    ol.numlist li:before {
        counter-increment: li; /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
        content: counters(li,".") ". "; /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
    }



.modal-dialog {
    margin: 5rem auto;
}



.card-text.description {
    font-size: 1.2rem;
}

h5.grey {
    margin-bottom: 0;
}

.admin_menu_block {
    margin-bottom: .5rem;
}
.admin_menu_block h4.grey {
    margin-bottom: 0 !important;
}



.priority__i_u { color: #d80c02; }
.priority__inu { color: #d82802; }
.priority_ni_u { color: #a85f01; }
.priority_ninu { color: #888888; }


.status_open        { color: #0a5831; }
.status_in_work     { color: #3490dc; }
.status_done        { color: #43553c; }
.status_prorogue    { color: #554741; }
.status_reopened    { color: #401400; }
.status_closed      { color: #888888; }



    /* blue_table */
    table.blue_table .verticalTableHeader {
        writing-mode: vertical-rl;
        letter-spacing: 1px;
        padding: .5em auto;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);

        background-color: transparent;
        position: relative;
        /* left: -.5em; */
    }
    table.blue_table tr.main_category {
        /* color: #3490dc; */
        font-weight: 400;
    }
    table.blue_table tr.gray {
        color: #64819e;
    }
    /* blue_table */

    table.blue_table tr td.subcategory {
        padding-left: 2em;
    }

    table.blue_table caption {
        caption-side: top;
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
    }


/* #lfm .far {
    font-size: 1.3rem;
} */
.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/* admin */
/*======================================================================================================*/



.flex-center.position-ref.full-height .code {
    color: #3490dc;
}





/*======================================================================================================*/
/* home */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.b_border {
    padding: 0 2em;
    padding-bottom: .5em;
    border-bottom: #77818d solid 1px;
}

#contacts .h4 span, #contacts .h4 i {
    color: #77818d;
}
#contacts p.list {
    padding: 0;
    margin: 0;
}


form.contact_us input,
form.contact_us select,
form.contact_us textarea,
form.contact_us button {
    border-radius: 0px;
}


    .row.height_{
        margin-top: 20px;
        display: flex;
    }
    .row.height_ > [class*='col-'] {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: stretch;
    }
    .row.height_ .box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    }
    .row.height_ .inner {
    height: 100%;
    }

.call-to-action-area {
    padding: 100px 0px;
    background: url('https://prod.dragoon.pw/storage/images/common/s/s4.png');
        background-attachment: scroll;
        background-size: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}


hr.ellipsis{
    text-align: center;
    margin-bottom: 30px;
    height: 50px;
    border: medium none;
    font-size: 28px;
    font-weight: 300;
}
hr.ellipsis::before{
    line-height: 1.4;
    text-indent: 0.6em;
    letter-spacing: 0.6em;
    content: "...";
    box-sizing: inherit;
}
/* /home */
/*======================================================================================================*/




/*======================================================================================================*/
/* category */
.category.grid {
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}


.category.grid .block_number.block_number_right {
    position: absolute;
    /* right: 20px; */
    top: 1.5rem;
    right: 1.5rem;
    /* color: #a7b6c2; */
    color: #bbcf54;
    font-size: 2rem;
    padding-top: 0;
    padding-right: 10px;
    z-index: 2;
    /* width: 50px; */
    width: 2em;
    height: 50px;
    text-align: right;
}
.category.grid .block_number.block_number_right::before {
    content: '';
    width: 1.5em;
    height: 1.5em;
    border-right: 1px solid #bbcf54;
    border-top: 1px solid #bbcf54;
    position: absolute;
    top: 0;
    right: 0;
}

.category.grid .btn {
    min-width: 150px;
    border-radius: 0px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background-color: #30404d;
    border: 2px solid #30404d;
    padding: 1em 0.5em;
    text-decoration: none;
    margin-right: 1rem;
    /* transition: all 0.5s ease-out 0s; */
    transition: all 0.3s ease-out 0s;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    left: 0;
}
.category.grid .btn:hover {
    opacity: 1;
    background: #69b1de;
    border-color: #69b1de;
    color: #fefefe;
}
.category.grid .btn span {
    font-size: .7rem;
}
.category.grid .title_green {
    /* background: #bbcf54;
    border: 1px solid #bbcf54;
    top: 2rem;
    color: #fff; */
    background: #69b1de;
    border: 1px solid #69b1de;
    top: 2rem;
    color: #fff;
}
.category.grid .title_green h3 {
    margin: .2em;
    text-align: center;
}


.attention_block_text {
    border-top: 1px solid #43a6dd;
    border-bottom: 1px solid #43a6dd;
    border-right: 1px solid #43a6dd;
    padding-top: 30px;
    padding-left: 47px;
    padding-bottom: 30px;
    padding-right: 37px;
    font-size: 16px;
    line-height: 1.8;
    font-style: italic;
    color: #43a6dd;
}
.attention_block_text::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 25%;
    background-color: #43a6dd;
    position: absolute;
    left: 0;
    top: 0.1px;
}

.attention_block_text::after {

    content: '';
    display: inline-block;
    width: 1px;
    height: 25%;
    background-color: #43a6dd;
    position: absolute;
    left: 0;
    bottom: 0;

}

.attention_block_icon {
    display: block;
    position: absolute;
    margin-top: 1rem;
    left: -1.2rem;
    height: 48px;
    width: 44px;
    background: url("/storage/images/common/icons/info.svg") no-repeat;
}

.h1 i.blue {
    opacity: .7;
    color: #69b1de;
    padding-top: 2em;
    transition: all 0.5s ease-out 0s;
}

.h1 i.blue:hover {
    opacity: 1;

}
/* /category */
/*======================================================================================================*/





/*======================================================================================================*/
.fixed_alert {
    position: fixed;
    top: 2em;
    right: 2em;
    z-index: 1000;
}
.alert-success.fixed_alert {
    background-color: rgba(255,255,255,0.8);
    max-width: 80vw;
}
/*======================================================================================================*/





/*======================================================================================================*/
/*==================================================
 * ShadowEffect 1
 * ===============================================*/
 .shadoweffect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

/*==================================================
 * ShadowEffect 2
 * ===============================================*/
.shadoweffect2
{
  position: relative;
}
.shadoweffect2:before, .shadoweffect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.shadoweffect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * ShadowEffect 3
 * ===============================================*/
.shadoweffect3
{
  position: relative;
}
.shadoweffect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/*==================================================
 * ShadowEffect 4
 * ===============================================*/
.shadoweffect4
{
  position: relative;
}
.shadoweffect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

/*==================================================
 * ShadowEffect 5
 * ===============================================*/
.shadoweffect5
{
  position: relative;
}
.shadoweffect5:before, .shadoweffect5:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.shadoweffect5:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * ShadowEffect 6
 * ===============================================*/
.shadoweffect6
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadoweffect6:before, .shadoweffect6:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadoweffect6:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * ShadowEffect 7
 * ===============================================*/
.shadoweffect7
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadoweffect7:before, .shadoweffect7:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadoweffect7:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * ShadowEffect 8
 * ===============================================*/
.shadoweffect8
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadoweffect8:before, .shadoweffect8:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadoweffect8:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*==================================================
 * ShadowEffect 4
 * ===============================================*/
 /* .shadoweffect4_
 {
   position: relative;
 } */
 .shadoweffect4_:after
 {
   z-index: -1;
   position: absolute;
   content: "";
   bottom: 15px;
   right: 10px;
   left: auto;
   width: 90%;
   top: 80%;
   max-width:300px;
   background: #777;
   -webkit-box-shadow: 0 15px 10px #777;
   -moz-box-shadow: 0 15px 10px #777;
   box-shadow: 0 15px 10px #777;
   -webkit-transform: rotate(3deg);
   -moz-transform: rotate(3deg);
   -o-transform: rotate(3deg);
   -ms-transform: rotate(3deg);
   transform: rotate(3deg);
   /* transition: all 0.5s ease-out 0s; */
   transition: all 0.3s ease-out 0s;
}

 .category.grid.shadoweffect4_:hover:after, .category.grid.shadoweffect4_:hover .btn {
    background: #69b1de;
    border-color: #69b1de;
 }

 /*======================================================================================================*/





